html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif;
}
body {
  font-size: 1rem;
  line-height: 1.618;
  max-width: 80%;
  margin: auto;
  color: black;
  background-color: white;
  padding: 0.8125;
}
h1 {
  background-color: #0308077e;
  padding: 0.625rem;
  text-align: center;
  font-size: 2.188rem;
  color: white;
  margin-bottom: 0%;
}
h2 {

  background-color: #0308077e;
  padding: 0.625rem;
  text-align: left;
  font-size: 1rem;
  color: white;
  margin-top: 0%;
}
h3{
  
  background-color: #0308077e;
  padding: 0.625rem;
  text-align: center;
  font-size: 0.8rem;
  color: white;
  margin-top: 0%;
}
h4{
  font-weight: lighter;
  font-style:normal;
}
h5{
  
  background-color: #0308077e;
  padding: 0.625rem;
  text-align: left;
  font-size: 0.1rem;
  color: white;
  margin-bottom: 0%;
}
a{
  margin-left: 5%;
  margin-right: 5%;
  background-color: #b7ccd1b0;
  border-radius: 10%;
}
img {
  display: flex;
  justify-content: center; 
  margin-left: 35%;
  width: 30%;
  height: 30%; 
  border-radius: 40%;
  }
  .bt {
  display: flex;
  justify-content: center;
  }
.container{
  display: grid;
  grid-template-columns:auto auto ;
  grid-template-rows: auto ;
  grid-gap: 0.38em;
 border: 2.3em solid rgb(221, 215, 215);
}
.education{
  display : grid;
  grid-template-columns:auto auto ;
  grid-template-rows: auto ;
  grid-gap: 0.38em;
  border: 2.3em solid rgb(221, 215, 215);;
}
.bacherlor{
  display : grid;
  grid-template-rows: auto ;
}
.description{
  list-style-type: none;
  margin-left:10% ;
  font-weight: bold;
}
.value{
  list-style-type:none;
  margin-left: 20%;
  font-weight: lighter;
}
table {
  text-align: left;
  font-size: 1em;
}
footer {
  font-size: 1.2em;
  margin-top: 0.065em;
  margin-bottom: 2.5em;
  border: 1cm solid rgb(221, 215, 215);;
}

blockquote {
  margin-left: 0em;
  margin-right: 0em;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 0.8em;
  border-left: 0.3em solid #1d7484;
  margin-bottom: 2.5rem;
  background-color: #f1f1f1;
}
